*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-size: 50%; }

body {
  font-weight: 300;
  font-family: "Cinzel", serif;
  line-height: 1.6;
  background-color: #fcfaf5; }

.header {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: repeat(max-content, 5);
  line-height: 1;
  height: 100vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0.027), rgba(14, 13, 26, 0.85), rgba(14, 13, 26, 0.99)), url("../img/header-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0px 0px 1px #fffcef, 0px 0px 1px #fffcef, 0px 0px 1px #fffcef, 0px 0px 1px #fffcef, 0px 0px 35px #fffcef;
  padding: 7rem 3rem; }
  .header__main {
    grid-column: span 4;
    grid-row: 1 / 1;
    justify-self: start;
    align-self: end;
    font-size: 13rem;
    letter-spacing: 3px; }
    .header__main span {
      font-family: 'Lobster', cursive;
      font-size: 5rem; }
  .header__info {
    grid-column: 1 / span 2;
    justify-self: start;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .header__info--1 {
      font-size: 6.5rem;
      grid-row: 2 / 2;
      align-self: end; }
    .header__info--2 {
      font-size: 5rem;
      grid-row: 3 / 3;
      align-self: center;
      margin-bottom: 3rem; }
  .header__address {
    font-size: 2.5rem;
    grid-row: 5;
    grid-column: 4;
    justify-self: end;
    align-self: end;
    margin-bottom: 2rem; }
  .header .btn--book-now {
    justify-self: start;
    align-self: center;
    grid-row: 4;
    grid-column: 1 / 2; }
  .header .btn--more-info {
    justify-self: start;
    align-self: start;
    grid-row: 5;
    grid-column: 1/ 2; }

.navi {
  z-index: 10;
  width: 100%;
  padding: 1rem;
  background-color: rgba(14, 13, 26, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 850px) {
    .navi {
      display: none;
      opacity: 0; } }
  .navi__bar {
    width: 100%; }
  .navi__list {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .navi__item {
    list-style: none;
    margin: 1rem; }
  .navi__link {
    text-decoration: none;
    font-family: "Cinzel", serif;
    font-size: 2.5rem;
    color: #fcfaf5;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s; }
    .navi__link:hover {
      color: #596088; }

.btn {
  text-decoration: none;
  border: 3px solid transparent;
  background: linear-gradient(to right, #596088, #596088);
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  color: #fcfaf5;
  padding: 1.5rem 4rem;
  margin: 2rem 0;
  font-size: 3rem;
  text-shadow: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px; }
  .btn--more-info {
    background: linear-gradient(to right, #232236, #191929);
    border: 3px solid #596088; }

.btn::before {
  content: '';
  height: 200%;
  width: 40px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -27px;
  transform: translateX(-100px) rotate(20deg);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transform: translateX(-100px) rotate(20deg);
  -moz-transform: translateX(-100px) rotate(20deg);
  -ms-transform: translateX(-100px) rotate(20deg);
  -o-transform: translateX(-100px) rotate(20deg); }

.btn:hover::before {
  transform: translateX(250px) rotate(20deg);
  -webkit-transform: translateX(250px) rotate(20deg);
  -moz-transform: translateX(250px) rotate(20deg);
  -ms-transform: translateX(250px) rotate(20deg);
  -o-transform: translateX(250px) rotate(20deg); }

.btn-basic {
  text-decoration: none;
  border: 3px solid transparent;
  background-color: #596088;
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  color: #fcfaf5;
  padding: 1rem 3rem;
  font-size: 2.5rem;
  text-shadow: none;
  cursor: pointer;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease; }
  .btn-basic:hover {
    color: #0e0d1a;
    background-color: #fcfaf5;
    border: 3px #596088 solid; }

.services {
  display: grid;
  grid-template-areas: "picture header" "picture para" "picture btn";
  grid-gap: 10rem;
  background-color: #fcfaf5;
  padding: 15rem 5rem; }
  .services__photo {
    grid-area: picture;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    box-shadow: 3px 9px 60px -22px rgba(0, 0, 0, 0.75); }
  .services__heading {
    font-size: 5rem;
    align-self: center;
    grid-area: header; }
    .services__heading::after {
      display: block;
      height: 3px;
      background-color: #596088;
      content: " ";
      width: 10rem;
      margin-top: 2rem; }
  .services__para {
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    color: #555;
    grid-area: para;
    align-self: start;
    justify-self: start; }
  .services__btn {
    grid-area: btn;
    align-self: start;
    justify-self: start; }

.hairdressers {
  display: grid;
  background-color: #fcfaf5;
  color: #0e0d1a;
  padding: 10rem 5rem 10rem 5rem; }
  .hairdressers__heading {
    font-size: 5rem;
    margin-bottom: 2rem; }
    .hairdressers__heading::after {
      display: block;
      height: 3px;
      background-color: #596088;
      content: " ";
      width: 10rem;
      margin-top: 2rem; }
  .hairdressers__para {
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    padding: 5rem 0rem 7rem 0;
    color: #555; }
  .hairdressers__link {
    text-decoration: none;
    text-transform: lowercase;
    color: #2c2c2c;
    border-bottom: 2px solid transparent;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s; }
    .hairdressers__link:hover {
      color: #596088;
      border-bottom: 2px solid #596088; }

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; }

.item {
  position: relative;
  background: #0e0d1a;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0 auto;
  cursor: pointer; }
  .item::after {
    content: '';
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    -moz-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    -ms-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    -o-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    -moz-transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    -ms-transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    -o-transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); }
  .item:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
    -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
    -moz-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
    -ms-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
    -o-transform: scale(2) translateX(0) translateY(0) rotate(-28deg); }
  .item:hover .item-image {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2); }
  .item:hover .item-text {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); }
  .item-image {
    height: auto;
    display: block;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    -moz-transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    -ms-transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    -o-transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1); }
  .item-image:before {
    content: '';
    display: block;
    padding-top: 95%;
    overflow: hidden; }
  .item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0; }
  .item-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms; }
  .item-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%); }
  .item-text-name {
    font-size: 3rem;
    padding: 0 1rem;
    margin: 5px 0 0 0;
    letter-spacing: 1px; }
  .item-text-category {
    text-transform: uppercase;
    font-size: 1.5rem;
    opacity: 0.7;
    margin: 0;
    letter-spacing: 1px; }
  .item-text-number {
    font-size: 1.5rem;
    padding: 0 3rem;
    margin-bottom: 5rem;
    letter-spacing: 1px; }

.popup {
  z-index: 1000;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.267);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close-wrapper {
    position: relative;
    margin-bottom: 6rem; }
  .popup__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3rem; }
    .popup__close:link, .popup__close:visited {
      color: #0e0d1a;
      line-height: 0;
      text-decoration: none;
      transition: .3s all;
      -webkit-transition: .3s all;
      -moz-transition: .3s all;
      -ms-transition: .3s all;
      -o-transition: .3s all; }
    .popup__close:hover {
      color: #596088; }
  .popup__content {
    width: 75%;
    background-color: #fcfaf5;
    padding: 1rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
    color: #0e0d1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px; }
  .popup__ourservices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .popup__heading {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 1; }
    .popup__heading::after {
      display: block;
      height: 3px;
      background-color: #596088;
      content: " ";
      width: 100%;
      margin-top: 1rem; }
  .popup__para {
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    padding-top: 3rem;
    color: #555; }
  .popup__prices-box {
    display: flex;
    justify-content: space-around;
    margin: 5rem; }
  .popup .popup__prices-title {
    font-size: 3rem;
    line-height: 1; }
    .popup .popup__prices-title::after {
      display: block;
      height: 3px;
      background-color: #596088;
      content: " ";
      width: 10rem;
      margin-top: 1rem; }
  .popup .popup__prices-name {
    padding-top: 1.5rem;
    font-size: 2rem;
    color: #596088; }
  .popup .popup__prices-price {
    font-size: 2rem; }
  .popup .popup__prices-card {
    margin: 2rem; }

.btn-basic__popup {
  font-size: 3rem; }

.findus {
  display: grid;
  grid-template-areas: "map heading" "map para" "map list";
  grid-gap: 5rem;
  padding: 10rem 5rem 15rem 5rem;
  background-color: #fcfaf5; }
  .findus__heading {
    font-size: 5rem;
    grid-area: heading;
    align-self: center; }
    .findus__heading::after {
      display: block;
      height: 3px;
      background-color: #596088;
      content: " ";
      width: 10rem;
      margin-top: 2rem; }
  .findus__para {
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    color: #555;
    grid-area: para;
    align-self: start;
    justify-self: start; }
    .findus__para i {
      color: #596088; }
  .findus__list {
    grid-area: list;
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    align-self: start;
    justify-self: start; }
    .findus__list i {
      color: #596088; }
  .findus__item {
    list-style: none;
    padding: 1rem; }
  .findus__link {
    text-decoration: none;
    margin-left: 5rem;
    color: #0e0d1a; }
  .findus__map {
    grid-area: map;
    align-self: center;
    justify-self: center;
    border: #596088 3px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px; }
    .findus__map iframe {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      border-radius: 3px; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0e0d1a;
  color: #fcfaf5;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  padding: 4rem; }
  .footer__list {
    display: flex;
    justify-content: center;
    margin: 2rem; }
  .footer__item {
    list-style: none;
    margin: 0 4.5rem; }
  .footer__link {
    text-decoration: none;
    color: #fffcef;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease; }
    .footer__link:hover {
      color: #596088; }
  .footer__parawrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem; }

@media (max-width: 1200px) {
  html {
    font-size: 50%; }
  .items {
    grid-template-columns: repeat(2, 1fr); }
  .item {
    width: 80%;
    margin-bottom: 5rem; }
  .findus {
    display: grid;
    grid-template-areas: "heading" "map" "para" "list";
    justify-content: center;
    align-content: center; }
  iframe {
    width: 450px;
    height: 350px; }
  .services {
    display: grid;
    grid-template-areas: "header" "picture" "para" "btn";
    justify-content: center;
    align-content: center; }
    .services__photo {
      width: 50%; } }

@media (min-width: 1380px) {
  .header {
    background-image: radial-gradient(rgba(0, 0, 0, 0.027), rgba(14, 13, 26, 0.97), rgba(14, 13, 26, 0.99)), url("../img/header.jpg");
    background-size: cover;
    background-attachment: fixed; } }

@media (max-width: 900px) {
  html {
    font-size: 45%; }
  .header__main {
    font-size: 14rem; }
  .header__info {
    grid-column: 1 / span 3; }
    .header__info--1 {
      font-size: 5.5rem; }
    .header__info--2 {
      font-size: 4.5rem; }
  .items {
    grid-template-columns: repeat(1, 1fr); }
  .item {
    width: 90%;
    margin-bottom: none; } }

@media (max-width: 850px) {
  .header__main {
    font-size: 12rem; }
  .header__info {
    grid-column: 1 / span 3; }
    .header__info--1 {
      font-size: 5.5rem; }
    .header__info--2 {
      font-size: 4.5rem; }
  .header__address {
    grid-row: 4;
    align-self: center;
    margin: 0; }
  .btn--book-now {
    align-self: center; }
  .btn--more-info {
    visibility: hidden;
    opacity: 0; }
  .services__photo {
    width: 70%; } }

@media (max-width: 750px) {
  .header__main {
    font-size: 11rem; }
  .header__info {
    grid-column: 1 / span 3; }
    .header__info--1 {
      font-size: 4.5rem; }
    .header__info--2 {
      font-size: 3.5rem; }
  .btn--more-info {
    visibility: hidden;
    opacity: 0; }
  .services__photo {
    width: 70%; } }

@media (max-width: 675px) {
  html {
    font-size: 40%; }
  .header {
    padding: 7rem 3rem; }
    .header__main {
      font-size: 7.5rem;
      letter-spacing: 1px; }
      .header__main span {
        font-size: 4rem; }
    .header__info {
      grid-column: 1 / span 3; }
      .header__info--1 {
        font-size: 4rem; }
      .header__info--2 {
        font-size: 3.5rem; }
    .header .btn {
      align-self: end; }
      .header .btn--book-now {
        justify-self: start;
        align-self: center;
        grid-row: 5;
        grid-column: 1 / 2;
        line-height: 1;
        font-size: 3rem;
        padding: 2.5rem 3.5rem; }
    .header__address {
      font-size: 3.5rem;
      grid-column: 1;
      grid-row: 4;
      justify-self: start;
      align-self: end; }
  .services {
    padding: 5rem 5rem; }
    .services__photo {
      width: 90%; }
  .hairdressers {
    padding: 5rem 5rem 0rem 5rem; }
  .popup__content {
    width: 95%; }
  .popup__heading {
    font-size: 6rem; }
  .popup .popup__prices-title {
    font-size: 3rem; }
  .findus {
    padding: 5rem 10rem 5rem 10rem; }
    .findus__map {
      align-self: start;
      justify-self: start; }
  iframe {
    width: 350px;
    height: 250px; }
  .popup__heading {
    font-size: 5rem; }
  .popup .popup__prices-title {
    font-size: 2.5rem; }
  .btn-basic__popup {
    font-size: 2rem;
    padding: 1.5rem 2.5rem; } }

@media (max-width: 350px) {
  html {
    font-size: 35%; }
  .header__main {
    font-size: 7rem; }
  .findus {
    padding: 5rem 10rem 5rem 10rem; }
    .findus__map {
      align-self: start;
      justify-self: start; }
  iframe {
    width: 250px;
    height: 150px; } }

.nav-container {
  width: 100%;
  display: block;
  opacity: 1; }
  @media (min-width: 850px) {
    .nav-container {
      display: none;
      opacity: 0; } }

.navbar {
  z-index: 300;
  width: 250px;
  height: 100%;
  background: rgba(14, 13, 26, 0.6);
  position: fixed;
  top: 0;
  right: -250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.5s cubic-bezier(1, 0, 0, 1);
  -webkit-transition: right 0.5s cubic-bezier(1, 0, 0, 1);
  -moz-transition: right 0.5s cubic-bezier(1, 0, 0, 1);
  -ms-transition: right 0.5s cubic-bezier(1, 0, 0, 1);
  -o-transition: right 0.5s cubic-bezier(1, 0, 0, 1); }

.change {
  right: 0; }

.hamburger-menu {
  z-index: 400;
  width: 35px;
  height: 30px;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.line {
  width: 100%;
  height: 3px;
  background-color: #596088;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s; }

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
  -webkit-transform: rotateZ(-405deg) translate(-8px, 6px);
  -moz-transform: rotateZ(-405deg) translate(-8px, 6px);
  -ms-transform: rotateZ(-405deg) translate(-8px, 6px);
  -o-transform: rotateZ(-405deg) translate(-8px, 6px); }

.change .line-2 {
  opacity: 0; }

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
  -webkit-transform: rotateZ(405deg) translate(-8px, -6px);
  -moz-transform: rotateZ(405deg) translate(-8px, -6px);
  -ms-transform: rotateZ(405deg) translate(-8px, -6px);
  -o-transform: rotateZ(405deg) translate(-8px, -6px); }

.nav-list {
  text-align: right; }

.nav-item {
  list-style: none;
  margin: 25px; }

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #fcfaf5;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color .3s;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s; }
  .nav-link:hover {
    color: #596088; }
