.btn {
  text-decoration: none;
  border: 3px solid transparent;
  background: linear-gradient(to right, rgb(70, 67, 105), rgb(70, 67, 105));
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  color: #fff;
  padding: 2rem 4rem;
  font-size: 3rem;
  text-shadow: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  &--more-info {
    background: linear-gradient(to right, rgb(35, 34, 54), rgb(25, 25, 41));
    border: 3px solid rgb(70, 67, 105);
  }

}

.btn::before {
  content: '';
  height: 160%;
  width: 40px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -27px;
  transform: translateX(-82px) rotate(20deg);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transform: translateX(-82px) rotate(20deg);
  -moz-transform: translateX(-82px) rotate(20deg);
  -ms-transform: translateX(-82px) rotate(20deg);
  -o-transform: translateX(-82px) rotate(20deg);
}

.btn:hover::before {
  transform: translateX(230px) rotate(20deg);
}