.findus {
  display: grid;
  grid-template-areas: 
    "map heading"
    "map para"
    "map list";
  grid-gap: 5rem;
  padding: 15rem 5rem 15rem 5rem;
  background-color: $color-off-white;

    &__heading {
      font-size: 5rem;
      grid-area: heading;
      align-self: center;
      
  
      &::after {
        display: block;
        height: 3px;
        background-color: $color-primary;
        content: " ";
        width: 10rem;
        margin-top: 2rem;
      }
  
    }

    &__para {
      font-size: 2.5rem;
      font-family: $font-secondary;
      color: #555;
  
      grid-area: para;
      align-self: start;
      justify-self: start;

      i {
        color: $color-primary;
      }
  
    }

    &__list {
      grid-area: list;
      font-size: 2.5rem;
      font-family: $font-secondary;
      align-self: start;
      justify-self: start;
      i {
        color: $color-primary;
      }
    }

    &__item {
      list-style: none;
      padding: 1rem;
    }

    &__link {
      text-decoration: none;
      margin-left: 5rem;
      color: $color-primary-dark;
    }

    

    &__map {
    grid-area: map;
    align-self: center;
    justify-self: center;
      
    
    border: $color-primary 3px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

      iframe {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        border-radius: 3px;
      }
    }
}