.header {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: repeat(max-content, 5);
  line-height: 1;
  height: 100vh;
  background-image: radial-gradient( rgba(0, 0, 0, 0.027), rgba($color-primary-dark, 0.85), rgba($color-primary-dark, 0.99)), url('../img/header-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0px 0px 1px #fffcef, 0px 0px 1px #fffcef, 0px 0px 1px #fffcef, 0px 0px 1px #fffcef,
  0px 0px 35px #fffcef;
  padding: 7rem 3rem;

  &__main {
    grid-column: span 4;
    grid-row: 1 / 1;
    justify-self: start;
    align-self: end;
    font-size: 13rem;
    letter-spacing: 3px;

    span {
      font-family: 'Lobster', cursive;
      font-size: 5rem;
    }
    
  }

  &__info {
    grid-column: 1 / span 2;
    justify-self: start;

    text-transform: uppercase;
    letter-spacing: 1px;
    

    &--1 {
      font-size: 6.5rem;
      grid-row: 2 / 2;
      align-self: end;
    }

    &--2 {
      font-size: 5rem;
      grid-row: 3 / 3;
      align-self: center;
      margin-bottom: 3rem;
    }

  }

  &__address {
    font-size: 2.5rem;
    grid-row: 5;
    grid-column: 4;
    justify-self: end;
    align-self: end;
  }


  .btn {
  
  
    &--book-now {
      justify-self: start;
    align-self: center;
      grid-row: 4;
      grid-column: 1 / 2;
      
      
    }
    
    &--more-info {
      justify-self: start;
      align-self: start;
      grid-row: 5;
      grid-column: 1/ 2;

    }
  }

}

