@media(max-width: 1200px) {
    
  html {
    font-size: 40%;
  }

  //HAIRDRESSERS
  .items {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    width: 80%; // IMG WIDTH/SIZE
    margin-bottom: 5rem;
  }

  //FIND US
  .findus {
    display: grid;
    grid-template-areas: 
      "heading"
      "map"
      "para"
      "list";
    justify-content: center;
    align-content: center;
  }
  // MAP 
  iframe {
    width: 450px ;
    height: 350px;
  }

  // SERVICES
  .services {
    display: grid;
    grid-template-areas: 
      "header"
      "picture"
      "para"
      "btn";
    justify-content: center;
    align-content: center;

    &__photo {
      width: 50%;
    }
  }
   
}

@media(min-width: 900px) {
  .header {
    background-image: radial-gradient( rgba(0, 0, 0, 0.027), rgba($color-primary-dark, 0.95), rgba($color-primary-dark, 0.99)), url('../img/header.jpg');
    background-size: cover;
    background-attachment: fixed;
    }
}

@media(max-width: 900px) {

  html {
    font-size: 35%;
  }

  // HEADER
  .header {
    &__main {
      font-size: 14rem;
    }

    &__info {
      grid-column: 1 / span 3;

      &--1 {
        font-size: 5.5rem;
        
      }
  
      &--2 {
        font-size: 4.5rem;
        
      }
    }
  }

  // HAIRDRESSERS
  .items {
    grid-template-columns: repeat(1, 1fr);
  }

  .item {
    width: 90%; // IMG WIDTH/SIZE
    margin-bottom: none;
  }
}

// MAX WIDTH 850PX
@media(max-width: 850px) {
  // HEADER
  .header {
    &__main {
      font-size: 12rem;
    }

    &__info {
      grid-column: 1 / span 3;

      &--1 {
        font-size: 5.5rem;
      }
  
      &--2 {
        font-size: 4.5rem;
      }

    }  
  }

  .btn {
        
    &--more-info {
        visibility: hidden;
        opacity: 0;
    } 
  }

  
  // SERVICES
  .services {

    &__photo {
      width: 70%;
    }
  }
}

@media(max-width: 750px) {
  
  // HEADER
  .header {

    &__main {
      font-size: 9.5rem;
    }

    &__info {
      grid-column: 1 / span 3;
      &--1 {
        font-size: 4.5rem;
        
      }
  
      &--2 {
        font-size: 3.5rem;
        
      }
  
    }
  }

  .btn {
        
    &--more-info {
        visibility: hidden;
        opacity: 0;
    } 
  }
    

  
  // SERVICES
  .services {

    &__photo {
      width: 70%;
    }
  }
}


@media(max-width: 655px) {
  html {
    font-size: 35%;
  }
  // HEADER 
  .header {
    padding: 7rem 3rem;

    &__main {
      font-size: 7rem;
      letter-spacing: 1px;

      span {
        font-size: 4rem;
      }
    }

    &__info {
      grid-column: 1 / span 3;
      &--1 {
        font-size: 4rem;
        
      }
  
      &--2 {
        font-size: 3.5rem;
        
      }

  
  }

  .btn {
    align-self: end;
      
    
    &--book-now {
        justify-self: start;
        align-self: center;
        grid-row: 5;
        grid-column: 1 / 2;
        line-height: 1;
        font-size: 3rem; 
        padding: 2.5rem 3.5rem; 
    }
      
  }

  &__address {
      font-size: 3.5rem;
      grid-column: 1;
      grid-row: 4;
      justify-self: start;
      align-self: end;
  }
}

  // SERVICES

  .services {
    padding: 5rem 5rem;

    &__photo {
      width: 90%;
    }
  }

  // HAIRDRESSERS
  .hairdressers {
    padding: 5rem 5rem 0rem 5rem;
  }

  // POP UP MENU
  .popup {
    &__content {
      width: 95%;
    }

    &__heading {
      font-size: 6rem;
    }

    .popup__prices-title {
      font-size: 3rem;
    }
  
  
  }

  // MAP
  .findus {
    padding: 5rem 10rem 5rem 10rem;
    
      &__map {
      align-self: start;
      justify-self: start;
      }
    } 

  iframe {
    width: 350px ;
    height: 250px;
  }
  // POPUP MENU
  .popup {
    &__heading {
      font-size: 5rem;
    }

    .popup__prices-title {
      font-size: 2.5rem;
    }
  }

  .btn-basic__popup {
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
  }
}

@media(max-width: 350px) {
  html {
    font-size: 30%;
  }
  // MAP
  .findus {
    padding: 5rem 10rem 5rem 10rem;
    
      &__map {
      align-self: start;
      justify-self: start;
      }
    } 

  iframe {
    width: 250px;
    height: 150px;
  }

  // POPUP MENU
 
}