@media(max-width: 1200px) {
    
  html {
    font-size: 40%;
  }

  //NAVIGATION

  //HAIRDRESSERS
  .items {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    width: 80%; // IMG WIDTH/SIZE
    margin-bottom: 5rem;
  }

  //FIND US
  .findus {
    display: grid;
    grid-template-areas: 
      "heading"
      "map"
      "para"
      "list";
    justify-content: center;
    align-content: center;
  }
  // MAP 
  iframe {
    width: 450px ;
    height: 350px;
  }

  // SERVICES
  .services {
    display: grid;
    grid-template-areas: 
      "header"
      "picture"
      "para"
      "btn";
    justify-content: center;
    align-content: center;

    &__photo {
      width: 50%;
    }
  }
   
}

@media(min-width: 900px) {
  .header {
    background-image: radial-gradient( rgba(58, 57, 88, 0.678), rgba(14, 13, 26, 0.979)), url('/img/header.jpg');
    background-size: cover;
    background-attachment: fixed;
    }
}

@media(max-width: 900px) {

  html {
    font-size: 35%;
  }

  // HEADER
  .header {
    &__main {
      font-size: 14rem;
    }

    &__info {
      grid-column: 1 / span 3;

      &--1 {
        font-size: 5.5rem;
        
      }
  
      &--2 {
        font-size: 4.5rem;
        
      }
    }
  }

  // HAIRDRESSERS
  .items {
    grid-template-columns: repeat(1, 1fr);
  }

  .item {
    width: 90%; // IMG WIDTH/SIZE
    margin-bottom: none;
  }
}


@media(max-width: 750px) {

  
  // HEADER
  .header {
    &__main {
      font-size: 12rem;
    }

    &__info {
      grid-column: 1 / span 3;

      &--1 {
        font-size: 5.5rem;
        
      }
  
      &--2 {
        font-size: 4.5rem;
        
      }
  
    }
    
  }
  // SERVICES
  .services {

    &__photo {
      width: 70%;
    }
  }
}

@media(max-width: 700px) {
  
  // HEADER
  .header {

    &__main {
      font-size: 9.5rem;
    }

    &__info {
      grid-column: 1 / span 3;
      &--1 {
        font-size: 4.5rem;
        
      }
  
      &--2 {
        font-size: 3.5rem;
        
      }
  
    }
  }
  // SERVICES
  .services {

    &__photo {
      width: 70%;
    }
  }
}


@media(max-width: 650px) {
  html {
    font-size: 35%;
  }
  // HEADER 
  .header {
    padding: 2rem 3rem;

    &__main {
      font-size: 6.5rem;
      letter-spacing: 2px;
    }

    &__info {
      grid-column: 1 / span 3;
      &--1 {
        font-size: 4rem;
        
      }
  
      &--2 {
        font-size: 3.5rem;
        
      }
  
    }
    .btn {
      align-self: end;
      
    
      &--book-now {
        justify-self: start;
        align-self: center;
        grid-row: 4;
        grid-column: 1 / 2;
        line-height: 1;
        font-size: 3rem; 
        padding: 2rem 3rem; 
      }
      
      &--more-info {
        visibility: hidden;
        opacity: 0;
      } 
    }
    &__address {
      font-size: 3.5rem;
      grid-column: 1;
      grid-row: 3;
      justify-self: end;
      align-self: end;
    }
  }

  // SERVICES

  .services {

    padding: 5rem 5rem;

    &__photo {
      width: 90%;
    }
  }

  // HAIRDRESSERS

  .hairdressers {
    padding: 5rem 5rem 0rem 5rem;
  }

  // MAP
  .findus {
  padding-left: 10rem;
  padding-right: 10rem;
    &__map {
      align-self: start;
      justify-self: start;
    }
  } 

  iframe {
    width: 350px ;
    height: 250px;
  }


}