.services {
  display: grid;
  grid-template-areas: 
    "picture header"
    "picture para"
    "picture btn";
  grid-gap: 10rem;
  background-color: $color-off-white;
  padding: 20rem 5rem;

  &__photo {
    grid-area: picture;
    width: 100%;
    height: auto;
    
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    box-shadow: 3px 9px 60px -22px rgba(0,0,0,0.75);
}

  &__heading {
    font-size: 6.5rem;
    align-self: center;
    grid-area: header;
    

    &::after {
      display: block;
      height: 3px;
      background-color: $color-primary;
      content: " ";
      width: 10rem;
      margin-top: 2rem;
    }

  }

  &__para {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    color: #555;

    grid-area: para;
    align-self: start;
    justify-self: start;

  }

  &__btn {
    grid-area: btn;
    align-self: start;
    justify-self: start;

  }
}